<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-active-users></app-active-users>
      <app-inactive-users></app-inactive-users>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h3>Actions Log</h3>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let item of log">
          {{ item.action }} | {{item.count}}
        </li>
      </ul>
    </div>
    <!--
      Optimize this app by adding a UsersService which manages the active and inactive users.

      Also add a CounterService which counts the number of active->inactive and inactive->active actions.
    -->
  </div>
</div>
